BasedOnStyle: LLVM
IndentWidth: 2
AlignAfterOpenBracket: AlwaysBreak
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
ColumnLimit: 80
BreakConstructorInitializers: BeforeColon
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
SortIncludes: true
UseTab: Never